
@tailwind base;
@tailwind components;
@tailwind utilities;
.sidebar-container {
    flex: 0 0 250px; /* Sidebar width */
    background-color: #f0f0f0;
    height: 100vh;
    /* Add any other styles you want for the sidebar */
  }
  
  .outlet-container {
    flex: 1; /* Outlet takes the remaining available space */
   
    /* Add any other styles you want for the outlet container */
  }